.top{
    font-size:64Px;
    text-align:center;
    color:red;
}
.top2{
    font-size:24Px;
    text-align:left;
    
    display:inline-block;
}
.top3{
    font-size:24Px;
    text-align:left;
    
}
.wrapper{
    margin:0 auto;
    text-align:center;
    max-width:300px;
    background-color:#ccc;
}
.wrapper2{
    margin:0 auto;
    text-align:center;
    max-width:300px;
}
.link{
    font-size:24px;
    letter-spacing: 1.5rem;
    text-align:center;
    display:block;
}
.center{
    text-align:center;
    font-size:34px;
}